parameters:
    it_doors_ajax.twig.ajax_filter_extension.class: ITDoors\AjaxBundle\Twig\AjaxFilterExtension
    it_doors_ajax.twig.ajax_form_extension.class: ITDoors\AjaxBundle\Twig\AjaxFormExtension
    it_doors_ajax.twig.ajax_paginator_extension.class: ITDoors\AjaxBundle\Twig\AjaxPaginatorExtension
    it_doors_ajax.twig.ajax_tab_extension.class: ITDoors\AjaxBundle\Twig\AjaxTabExtension
    it_doors_ajax.twig.ajax_ordering_extension.class: ITDoors\AjaxBundle\Twig\AjaxOrderingExtension
    it_doors_ajax.base_filter_service.class: ITDoors\AjaxBundle\Services\BaseFilterService

services:
    it_doors_ajax.twig.ajax_filter_extension:
        class: %it_doors_ajax.twig.ajax_filter_extension.class%
        arguments: [@service_container]
        tags:
            - { name: twig.extension }

    it_doors_ajax.twig.ajax_form_extension:
        class: %it_doors_ajax.twig.ajax_form_extension.class%
        arguments: [@service_container]
        tags:
            - { name: twig.extension }

    it_doors_ajax.twig.ajax_paginator_extension:
        class: %it_doors_ajax.twig.ajax_paginator_extension.class%
        arguments: [@service_container]
        tags:
            - { name: twig.extension }
            
    it_doors_ajax.twig.ajax_tab_extension:
        class: %it_doors_ajax.twig.ajax_tab_extension.class%
        arguments: [@service_container]
        tags:
            - { name: twig.extension }

    it_doors_ajax.twig.ajax_ordering_extension:
        class: %it_doors_ajax.twig.ajax_ordering_extension.class%
        arguments: [@service_container]
        tags:
            - { name: twig.extension }

    it_doors_ajax.base_filter_service:
        class: %it_doors_ajax.base_filter_service.class%
        arguments: [@service_container]
